<!DOCTYPE html>

<html>

   <head>
      <title>404 - Page non trouvée</title>
      <link rel="shortcut icon" href="https://monwikidevweb.la-loutre.fr/img/otter-solid.svg" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
     <div class="container">
        <div class="fourohfour">
          <h1>404</h1>
          <p>Il semble que cette page n'existe pas. Désolé pour ça.</p>
       </div>
     </div>
  </body>
</html>